html, body {
    height: 100%; /* Prendre 100% de la hauteur de la fenêtre */
    margin: 0; /* Enlever les marges par défaut */
}
body {
    background-image: url('background.png'); /* Remplace par le vrai nom de ton fichier */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-repeat: no-repeat; /* Empêche la répétition */

    display: flex; /* Utilise Flexbox */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    font-family: Arial, sans-serif; /* Police de caractère */

}

.rectangle {
    background-color: rgb(50,50,50); /* Couleur de fond gris */
    /*padding: 165px;  Espacement à l'intérieur du rectangle */
    width: 300px; /* Largeur du rectangle */
    border-radius: 3px; /* Coins arrondis */
    text-align: center; /* Centrer le texte à l'intérieur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre discrète autour du rectangle */
    color: white; /* Texte en blanc */
    font-family: Arial, sans-serif; /* Police de caractère */

}

h2, p {
    margin: 10px 0; /* Marge entre les éléments */
    color: white; /* Texte en blanc pour être visible sur le fond gris */
}

input[type="text"] {
    box-sizing: border-box;
    border-radius: 3px;
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(10,10,10) !important;
    color: rgb(200, 200, 200);
    font-size: 16px !important; /* Augmenter la taille du texte saisi */
}
